.adjustment{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
   }


.page_titile{
    padding-left: 10px;
}
